/*adicionar as propriedades margin e padding no seletor universal (asterisco) */
*{
    margin:0;
    padding:0;
}

/*Iniciar Sessão cabeçalho*/

.cabeçalho{
background-color: aqua;
color: aliceblue;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabeçalho-imagem{
    width: 8%;
    border-radius: 22px; /*para definir bordas arredonddas da imagem*/
}

/*A lista não ordenada ul precisa estar alinhada em uma única linha.
Crie um seletor para classe .cabeçalho-lista-item. adicionando nele
a propriedade display com o valor inline-block:*/
/*Aumente os espaçamentos entre os textos com a propriedade margin de valor 0 16px:*/
/*Aumente a fonte através da propriedade font-zine de valor 24px:*/

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabeçalho-lista-item{
   text-decoration-line: none; 
    color: brown; /*cor*/
}

/*efeito alternar a cor quando passa o mouse*/
a:hover {
    color: blanchedalmond;
}

/*alterar a cor quando clicar com o mouse*/
a:active{
    color: cadetblue (105, 144, 216);
}


/*Iniciar Sessão escola*/

/*crie um seletor (.) para a classe escola-imagem, determinando uma largura width de 25%:*/
escola-imagem{
    width: 25%; /*largura*/
    height: 300px; /*altura*/
    border-radius: 82px; /*para definir bordas arredondadas da imagem*/
}

/**/
.escola{
    background-image: linear-gradient(#424e61,#16cff8);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

/**/
.escola-div-conteudo{
    width: 45%;
}

/**/
.escola-titulo{
    padding: 24px 0;
}

/**/
 p{
padding: 0 40px; /* alinhar o espaçamento */
font-size: 20px; /*tamanho da fonte*/
font-family: Arial, Helvetica, sans-serif; /*especifica a fonte de um elemento*/
}